@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

body {
    font-family: Helvetica, Arial, sans-serif;
    margin: 0px;
    padding: 0px;
}

h1, h2 {
    font-family: 'Lora', 'Helvetia';
}

header {
    padding: 20px;
    background-color: #6495ED;
    text-align: right;
}

nav a, nav a:visited, header h1 a {
    color:  #FAEBD7;
    text-decoration: none;
}

nav a:active{
    color: #DEB887;
}

nav a:hover {
    color: white;
    text-decoration: underline;
}

nav li {
    list-style-type: none;
    padding: 6px;
}

h2 a, h2 a:visited {
    color: black;
    text-decoration: none;
}

h2 a:active {
    color: #DEB887;
}

h2 a:hover {
    color: #6495ED;
}

p a, p a:visited {
    color: #6495ED;
    text-decoration: none;
}

main {
    background-color: #FAEBD7;
    padding: 20px;
}

article {
    background-color: white;
    padding: 40px;
    margin: 20px;
    filter: drop-shadow(5px 4px 2px gray);
}

article img {
    width: 100%;
}

.post-date {
    color: gray;
}


@media only screen and (min-width: 45em) {

div {
    display: flex;
}

header {
    width: 40%;
    padding: 40px;
}

article {
    margin: 60px;
    padding: 60px;
}

figure {
    max-width: 70%;
    margin: 0px auto;
}


 }